<a href="https://colab.research.google.com/github/monu111/-Predict-product-purchased-or-not-using-Social_Network_ads/blob/master/icc_ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective : Scrape the data given below:
- Top ODI Batsmen in men along with the records of their team and rating. 
- Top ODI bowlers along with the records of their team and rating.
- Top ODI All rounder along with the records of their team and rating.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/MyDrive/Colab Notebooks/Web Scrapping/icc_criket team

/content/drive/MyDrive/Colab Notebooks/Web Scrapping/icc_criket team

# 0. Objective : Scraping the team ranking

### importing the library

In [164]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import csv

In [165]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r = requests.get(url)

In [166]:
soup = bs(r.text, 'html.parser')
table  = soup.find('table', class_="table")
body = table.find('tbody')

tr = body.find_all('tr')
row = []

# looping through the tr tag to extract the data
for i in tr:
  row_data = i.find_all('td')
  l = []
  for j in row_data:
    p = j.text.strip().split('\n')
    
    l.append(p)

  row.append(l)

#### Extracting the data from the row

In [167]:
list = []
for i in row:
  #print(i)
  pos = i[0][0]
  team = i[1][0]
  matches = i[2][0]
  point = i[3][0]
  rating = i[4][0]
  
  #---------------------------------------Saving the data into list of dictionary--------------------------------
  d = {
      'POS' : pos,
       'TEAM' : team,
       'MATCHES' : matches,
       'POINTS' : point,
       'RATING' : rating
       }
  list.append(d)

In [168]:
df = pd.DataFrame(list)
df

   POS              TEAM MATCHES POINTS RATING
0    1       New Zealand      17  2,054    121
1    2         Australia      25  2,945    118
2    3             India      29  3,344    115
3    4           England      27  3,100    115
4    5      South Africa      20  2,137    107
5    6          Pakistan      24  2,323     97
6    7        Bangladesh      24  2,157     90
7    8       West Indies      27  2,222     82
8    9         Sri Lanka      21  1,652     79
9   10       Afghanistan      17  1,054     62
10  11       Netherlands       2     99     50
11  12           Ireland      18    818     45
12  13          Zimbabwe      15    588     39
13  14              Oman       7    240     34
14  15          Scotland       5    148     30
15  16             Nepal       5    119     24
16  17               UAE       9    190     21
17  18           Namibia       6     97     16
18  19     United States       8     93     12
19  20  Papua New Guinea       5      0      0

In [169]:
df.to_csv('Icc_team_ranking.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

#2. Scraping ODI Batting Rankings

In [170]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

#### Scrapaing the data of first ranking person

In [171]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

#### Scraping the data after first person

In [172]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

#### Creating the dataframe and saving the data

In [173]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ ODI_Batting_Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [174]:
df

    POS         PLAYER TEAM RATING              CAREER BEST RATING
0     1     Babar Azam  PAK    865  865 v South Africa, 07/04/2021
1     2    Virat Kohli  IND    857       911 v England, 12/07/2018
2     3   Rohit Sharma  IND    825     885 v Sri Lanka, 06/07/2019
3     4    Ross Taylor   NZ    801    841 v Bangladesh, 05/06/2019
4     5    Aaron Finch  AUS    791       798 v England, 25/06/2019
..  ...            ...  ...    ...                             ...
95   96  Matthew Cross  SCO    416          427 v Oman, 18/08/2019
96   97       Tony Ura  PNG    415       416 v Namibia, 23/09/2019
97       Gulbadin Naib  AFG    415       440 v Ireland, 28/02/2018
98   99   Chris Woakes  ENG    411     481 v Australia, 26/01/2018
99  100   Sam Billings  ENG    409     415 v Australia, 16/09/2020

[100 rows x 5 columns]

# 3. Scraping the ODI Bowling Rankings data

In [175]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

#### Scrapaing the data of first ranking person

In [176]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

#### Scraping the data after first person

In [177]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

#### Creating the dataframe and saving the data

In [178]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ODI Bowling Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [179]:
df

    POS            PLAYER TEAM RATING              CAREER BEST RATING
0     1       Trent Boult   NZ    737   770 v West Indies, 22/06/2019
1     2  Mujeeb Ur Rahman  AFG    708       712 v Ireland, 24/01/2021
2     3        Matt Henry   NZ    691    691 v Bangladesh, 26/03/2021
3     4    Jasprit Bumrah  IND    690   841 v West Indies, 01/11/2018
4     5      Mehedi Hasan  BAN    668   694 v West Indies, 25/01/2021
..  ...               ...  ...    ...                             ...
95   96    Mohammad Nawaz  PAK    376  376 v South Africa, 07/04/2021
96   97   Donald Tiripano  ZIM    373      373 v Pakistan, 03/11/2020
97   98     Bradley Wheal  SCO    372     385 v Sri Lanka, 21/05/2019
98   99    Alasdair Evans  SCO    366       421 v England, 10/06/2018
99  100        Assad Vala  PNG    363       369 v Namibia, 23/09/2019

[100 rows x 5 columns]

# 4. Men's ODI All-Rounder Rankings

In [180]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/all-rounder'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

#### Scrapaing the data of first ranking person

In [181]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

#### Scraping the data after first person

In [182]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

#### Creating the dataframe and saving the data

In [183]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ODI All-Rounder Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [184]:
df

   POS               PLAYER TEAM RATING              CAREER BEST RATING
0    1      Shakib Al Hasan  BAN    408      453 v Zimbabwe, 05/11/2009
1    2           Ben Stokes  ENG    295   319 v New Zealand, 14/07/2019
2    3        Mohammad Nabi  AFG    294      349 v Zimbabwe, 26/02/2017
3    4         Chris Woakes  ENG    273   312 v New Zealand, 10/03/2018
4    5          Rashid Khan  AFG    270      359 v Pakistan, 21/09/2018
5    6     Mitchell Santner   NZ    268       317 v England, 10/03/2018
6    7           Imad Wasim  PAK    263    299 v Bangladesh, 05/07/2019
7    8  Colin de Grandhomme   NZ    257         266 v India, 11/02/2020
8    9      Ravindra Jadeja  IND    245       377 v England, 23/06/2013
9   10        Sean Williams  ZIM    238     241 v Sri Lanka, 30/06/2017
10  11        Sikandar Raza  ZIM    237       275 v Ireland, 16/03/2018
11  12   Andile Phehlukwayo   SA    227   261 v Afghanistan, 15/06/2019
12  13        Hardik Pandya  IND    226  262 v South Africa, 16/02/2018
13            Jimmy Neesham   NZ    226       227 v England, 03/07/2019
14  15         Jason Holder   WI    206     214 v Sri Lanka, 10/03/2021
15  16        Kagiso Rabada   SA    205         224 v India, 05/06/2019
16  17          Trent Boult   NZ    202         213 v India, 09/07/2019
17  18       Marcus Stoinis  AUS    201         243 v India, 08/03/2019
18  19        Glenn Maxwell  AUS    200       350 v England, 11/09/2015
19             Mehedi Hasan  BAN    200     222 v Sri Lanka, 28/07/2019